[Desktop Entry]
Comment=
Exec=kde-open5 /usr/share/doc/cppreference/en/index.html
Icon=accessories-dictionary
Name=CPP reference
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
