[Desktop Entry]
Comment=
Exec=kde-open /usr/share/doc/fpc-doc/doc/fpctoc.html
Icon=accessories-dictionary
Name=FreePascal docs
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
