[Desktop Entry]
Comment=OI Live {{ version }}
Name=OI Live {{ version }}
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author={{ author_name }}
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email={{ author_email }}
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=sk.oi.oilive.{{ version }}
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-Website={{ oilive_web }}
X-Plasma-MainScript=defaults
