[SddmGreeterTheme]
Name=OI Live {{ version }}
Author={{ author_name }}
Copyright=(c) {{ version }}, {{ author_name }}
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website={{ oilive_web }}
Screenshot=oilive.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email={{ author_email }}
Theme-Id=breeze
Theme-API=2.0
