[Desktop Entry]
Name=OI-Live {{ version }}

X-KDE-PluginInfo-Name=OI-Live {{ version }}
X-KDE-PluginInfo-Author={{ author_name }}
X-KDE-PluginInfo-Email={{ author_email }}
X-KDE-PluginInfo-License=LGPLv3
