// JS Polkit configuration file that only allows changes to NetworkManager
// configuration to users that are in the group "network"

polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.NetworkManager.") == 0) {
        if (subject.isInGroup("network")) {
            return polkit.Result.YES;
        } else {
            return polkit.Result.NO;
        }
    }
});
