polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.NetworkManager.") == 0) {
        if (subject.isInGroup("network")) {
            return polkit.Result.YES;
        } else {
            return polkit.Result.NO;
        }
    }
});
