// JS Polkit configuration file that only allows mounting external drives
// (USB, CD, etc...) to users in the group "storage"

polkit.addRule(function(action, subject) {
    var YES = polkit.Result.YES;
    var permission = {
        "org.freedesktop.udisks.filesystem-mount": YES,
        "org.freedesktop.udisks.filesystem-mount-system-internal": YES,
        "org.freedesktop.udisks.luks-unlock": YES,
        "org.freedesktop.udisks.drive-eject": YES,
        "org.freedesktop.udisks.drive-detach": YES,

        "org.freedesktop.udisks2.filesystem-mount": YES,
        "org.freedesktop.udisks2.filesystem-mount-system": YES,
        "org.freedesktop.udisks2.encrypted-unlock": YES,
        "org.freedesktop.udisks2.eject-media": YES,
        "org.freedesktop.udisks2.power-off-drive": YES,

        "org.freedesktop.udisks2.filesystem-mount-other-seat": YES,
        "org.freedesktop.udisks2.encrypted-unlock-other-seat": YES,
        "org.freedesktop.udisks2.eject-media-other-seat": YES,
        "org.freedesktop.udisks2.power-off-drive-other-seat": YES
    };
    if (subject.isInGroup("storage")) {
        polkit.log("UDISKS Approved action: " + action);
        polkit.log("Subjet: " + subject);
        return permission[action.id];
    } else {
        if (permission[action.id] == YES) {
            polkit.log("UDISKS Denied action: " + action);
            polkit.log("Subject: " + subject);
            return polkit.Result.NO;
        }
    }
});
