[Desktop Entry]
Comment=
Exec=kde-open /opt/STL_doc/index.html
Icon=accessories-dictionary
Name=STL manual
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
