[Desktop Entry]
Comment=kde-open /opt/STL_doc/index.html
Exec=
Icon=accessories-dictionary
Name=STL manual
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
